{
  "dev": {
    "database": "dbName",
    "user": "root",
    "pass": "root",
    "dialect": "mysql",
    "host": "localhost",
    "port": 8889
  },
  "test": {
    "database": "dbName_test",
    "user": "root_test",
    "pass": "root_test",
    "dialect": "mysql",
    "host": "localhost",
    "port": 8889
  }
}
